<% tags=[
	'inspirational quote',
	'hand-drawn',
	'comic',
	'news',
	'politics',
	'nature',
	'greeting card',
	'open letters',
	'tl;dr'	,

]%>

<ul id="tags">
	<% tags.each { |tag| -%>
	<li><a href="#tag-<%= tag.gsub(' ', '-') %>"><%= tag %></a></li>
	<% } %>
</ul>
